
// GT stylesheet overrides

$mathbook-primary:#eab72c;
$mathbook-primary:darken($mathbook-primary, 15%);
$mathbook-secondary:#888;
$ui-sidebar-left-width: 0px;
$ui-sidebar-right-width: 0px;

@import "mathbook";

