/*******************************************************************************
 * MATHBOOK CONTENT STANDALONE STYLESHEET
 *******************************************************************************
 * Standalone content styling for Mathbook documents.
 *
 * Homepage: http://mathbook.pugetsound.edu
 * Issue Tracker: https://github.com/BooksHTML/mathbook-assets/issues
 * Repository: https://github.com/BooksHTML/mathbook-assets
 *
 * Authors: Michael DuBois, David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
@import "config";
@import "shared/typography";

// Import the google fonts
@include typography-google-fonts-import-once();

body {
    @include typography-base();
}

@import "content/content";

/*******************************************************************************
 * END MATHBOOK CONTENT
 ******************************************************************************/
