@mixin css-message($message, $color: white, $bg: #444) {
    position:relative;
    &:after {
        position:absolute;
        top:0;
        left:0;
        content: $message;
        color: $color;
        background: $bg;
        opacity:.9;
    }
}

@mixin css-error($message) {
    @include css-message($message, white, red);
}
