@import "typography";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/user-interface";

// Knowl
$knowl-color-base: gray !default;

// Link colors
$knowl-link-color: saturate($knowl-color-base, 10%) !default;
$knowl-link-color-hover: saturate(darken($knowl-color-base, 10%), 10%) !default;
$knowl-link-border-radius: 3px !default;

// Border colors
$knowl-border-color: change-color($knowl-color-base,
                                  $saturation: 100%,
                                  $lightness: 92%) !default;

// Background colors
$knowl-bg-color: change-color($knowl-border-color,
                              $saturation: 90% ,
                              $lightness: 99%) !default;
$knowl-nested-bg-color: white !default;

// Layout
$knowl-border-width:12px !default;
$knowl-border-radius: 4px !default;

$knowl-nested-border-width: $knowl-border-width / 2 !default;

// $knowl-has-ragged-top: true !default;
// $knowl-ragged-top-height: 12px !default;
$knowl-padding:12px !default;
$knowl-margin-bottom: 12px !default;

@mixin knowl-link(
    $color: $knowl-link-color,
    $border-color: $knowl-border-color,
    $border-radius: $knowl-link-border-radius,
    $font-type: sans-serif
) {

    $border-width-base: 1px;
    $border-width-hover: 2px;
    $underline-offset: $typography-underline-offset-sans-serif;
    @if($font-type == serif) {
        $underline-offset: $typography-underline-offset-serif;
    }

    $transition-duration: 0ms;
    $padding-horizontal: 3px;  /* not used? */
    $padding-horizontal-right: 2px;
    $padding-horizontal-left: 2px;

    &, &:hover, &.active {
        position:relative;
        color: $color;
        background: transparent;
        padding:0px $padding-horizontal-right 0px $padding-horizontal-left;
        margin:0;
        text-decoration:none;

        /* add a bottom margin so the line
         * doesn't jump onHover.
         */
        /*margin-bottom: 1px;*/
        /*border-bottom: 1px dotted $color;*/

        margin-bottom:0;
        border-bottom: none;

        font-weight:500;
        //line-height:1.3;
        white-space: nowrap;
 //       @include inline-block(baseline);  // why was it set to inline-block?
        @include border-top-left-radius($border-radius);
        @include border-top-right-radius($border-radius);
        /* Prevent accidental text selection on click */
        @include user-select(none);
        @include transition-property(background-color);
        @include transition-duration($transition-duration);

        /**
         * This gets us an underline that's a bit tighter with the baseline
         * instead of awkwardly floating below like a border on the parent
         */
        &:after {
            content: "";
            position:absolute;
            top:0;
            bottom: $border-width-hover - $border-width-base;
            right:$padding-horizontal-right * 1.2;
            left:$padding-horizontal-left * 1.2;

            /* Smooth out the transition from underline to border */
            @include transition-property(left,right);
            @include transition-duration($transition-duration);

            border-bottom: $border-width-base dotted $color;
            /*@include typography-underline(*/
                        /*$color,*/
                        /*$underline-style: dotted,*/
                        /*$underline-size: .1,*/
                        /*$underline-offset: $underline-offset);*/
            /* Display under parent content, but above parent background */
            z-index:0;
        }
    }

    &:hover, &:active, &.active {
        color: darken($border-color, 65%);
        background: lighten($border-color, 4%);
        text-decoration:none;

        /* See comment on default style's border/margin */
        margin-bottom:0;
        /*border-bottom:2px solid darken($border-color, 15%);*/
        /*border-bottom: none;*/

        &:after {
            border-bottom:$border-width-hover solid darken($border-color, 15%);
            left:0;
            right:0;
            bottom:0;
            /*@include typography-underline(*/
                        /*darken($border-color, 32.5%),*/
                        /*$underline-size: .1,*/
                        /*$underline-offset: $underline-offset);*/
        }
    }

    &:active {
        color: $brand-secondary;
        background: $brand-secondary-light;

        &:after {
            border-color: $brand-secondary;
        }
    }

    &.active {
        background: $border-color;
    }
}

@mixin knowl-output(
    $bg-color: $knowl-bg-color,
    $border-width: $knowl-border-width,
    $border-color: $knowl-border-color,
    $border-radius: $knowl-border-radius,
    $margin-bottom: $knowl-margin-bottom 
) {
//     $has-ragged-top: $knowl-has-ragged-top,
//     $ragged-top-height: $knowl-ragged-top-height
    & {
//  set in master knowlstyle        border: $border-width solid $border-color;
        border-color: $border-color;
        background: $bg-color;
        @include border-radius($border-radius);
        margin-bottom:$margin-bottom;
    }

    // TODO could be refactored into seperate mixin so that option could
    //      be exposed with a class on body
//    @if($has-ragged-top) {
//        & {
//            position:relative;
//            /* Keep a small border to maintain margin-collapse */
//            border-top-width:1px;
//            margin-top:$ragged-top-height;
//
//            @include border-top-radius(0);
//        }
//
//        &:before {
//            content:"";
//            position:absolute;
//            position:absolute;
//            top:0;
//            left:0;
//            right:0;
//            margin-top: -$ragged-top-height;
//            margin-left:-$border-width;
//            margin-right:-$border-width;
//            @include zig-zag-edge($border-color,  $ragged-top-height);
//        }
//     }

    .knowl-footer {
        font-size:x-small;
        color: darken($border-color, 60%);
        background: $border-color;
// the master setting from knowlstyle.css seem okay to me
//        bottom: -$border-width;
//        padding:1px 0px 1px $border-width;
    }

    .knowl-content {
        /* Better to apply a margin, so that heading margins collapse */
        padding:0;
        margin: $knowl-padding;
    }
}
