@import "compass/css3/inline-block";
@import "compass/css3/border-radius";

// Knowl
$knowl-color-base: gray !default;

// Link colors
$knowl-link-color: saturate($knowl-color-base, 10%) !default;
$knowl-link-color-hover: saturate(darken($knowl-color-base, 10%), 10%) !default; 
$knowl-link-border-radius: 3px !default;

// Border colors
$knowl-border-color: change-color($knowl-color-base, 
                                  $saturation: 100%,
                                  $lightness: 92%) !default;

// Background colors
$knowl-bg-color: change-color($knowl-border-color, 
                              $saturation: 90% ,
                              $lightness: 99%) !default;
$knowl-nested-bg-color: white !default;

// Layout
$knowl-border-width:12px !default;
$knowl-border-radius: 4px !default;

$knowl-nested-border-width: $knowl-border-width / 2 !default;

$knowl-has-ragged-top: true !default;
$knowl-ragged-top-height: 12px !default;
$knowl-padding:12px !default;
$knowl-margin-bottom: 12px !default;

@mixin knowl-link(
    $color: $knowl-link-color,
    $border-color: $knowl-border-color,
    $border-radius: $knowl-link-border-radius
) {
    &, &:hover, &.active {
        color: $color;
        background: transparent;
        padding:0px 3px;
        margin:0;
        text-decoration:none;

        /* David likes 1px border in default state, but 2px is definitely
         * better in hover state, so we add a bottom margin so the line
         * doesn't jump onHover.
         */
        margin-bottom: 1px;
        border-bottom: 1px dotted $color;
        
        font-weight:500;
        //line-height:1.3;
        white-space: nowrap;
        @include inline-block(baseline);
        @include border-top-left-radius($border-radius);
        @include border-top-right-radius($border-radius)
    }

    &:hover, &.active {
        color: darken($border-color, 65%);
        background: lighten($border-color, 4%);
        text-decoration:none;

        /* See comment on default style's border/margin */
        margin-bottom:0;
        border-bottom:2px solid darken($border-color, 15%);
    }

    &.active {
        background: $border-color;
    }
}

@mixin knowl-output(
    $bg-color: $knowl-bg-color,
    $border-width: $knowl-border-width,
    $border-color: $knowl-border-color,
    $border-radius: $knowl-border-radius,
    $margin-bottom: $knowl-margin-bottom,
    $has-ragged-top: $knowl-has-ragged-top,
    $ragged-top-height: $knowl-ragged-top-height
) {
    & {
        border: $border-width solid $border-color;
        background: $bg-color;
        @include border-radius($border-radius);
        margin-bottom:$margin-bottom;
    }

    // TODO could be refactored into seperate mixin so that option could
    //      be exposed with a class on body
    @if($has-ragged-top) {
        & {
            position:relative;
            /* Keep a small border to maintain margin-collapse */
            border-top-width:1px;
            margin-top:$ragged-top-height;

            @include border-top-radius(0);
        }

        &:before {
            content:"";
            position:absolute;
            position:absolute;
            top:0;
            left:0;
            right:0;
            margin-top: -$ragged-top-height;
            margin-left:-$border-width;
            margin-right:-$border-width;
            @include zig-zag-edge($border-color,  $ragged-top-height);
        }
    }

    .knowl-footer {
        font-size:x-small;
        color: darken($border-color, 60%);
        background: $border-color;
        bottom: -$border-width;
        padding:1px 0px 1px $border-width;
    }

    .knowl-content {
        /* Better to apply a margin, so that heading margins collapse */
        padding:0;
        margin: $knowl-padding;
    }
}
