// Styling for standard typographic elements.
// Note: Mixins with plural names output fully-functionaly CSS, 
// whereas singular names should be mixed directly into a custom selector.

$typography-font-family-sans-serif:   
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$typography-font-family-serif: 
    "PT Serif", "Times New Roman", Times, serif !default;
$typography-font-family-monospace:   
    "Source Code Pro", Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, 
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace !default;
$typography-font-family-base: $typography-font-family-sans-serif !default;

$typography-font-size-base: 16px !default;
$typography-font-size-large: ceil($typography-font-size-base * 1.25) !default; // ~18px
$typography-font-size-small: ceil($typography-font-size-base * 0.85) !default; // ~12px
$typography-font-size-h1: floor($typography-font-size-base * 2) !default;// ~32px 
$typography-font-size-h2: floor($typography-font-size-base * 1.75) !default;  
$typography-font-size-h3: ceil($typography-font-size-base * 1.5) !default; 
$typography-font-size-h4: ceil($typography-font-size-base * 1.3)!default;
$typography-font-size-h5: ceil($typography-font-size-base * 1.15) !default;
$typography-font-size-h6: $typography-font-size-base !default; 

$typography-line-height-base: 1.5 !default;
$typography-line-height-computed:
    floor($typography-font-size-base * $typography-line-height-base) !default; // ~20px
$typography-line-height-em: #{$typography-line-height-base}em !default;

$typography-headings-font-family: $typography-font-family-serif !default;
$typography-headings-color: inherit !default;
$typography-headings-font-weight: 700;
$typography-headings-line-height:    1.1 !default;
// The ratio of the bottom margin relative to the total vertical margin height 
$typography-headings-margin-bottom-ratio: .3333333;

$typography-link-color: lighten(blue,10%) !default;
$typography-link-color-hover: blue !default;
$typography-link-color-active: red !default;

$typography-code-color: inherit !default;
$typography-code-bg-color: #eee !default;
$typography-code-border-color: #ddd !default;
$typography-code-border-radius: .2em !default;
$typography-code-scrollable-max-height:   340px !default;

// Flag for whether or not to import the google font url when @included
$typography-google-fonts-url: 
    "http://fonts.googleapis.com/css?family=PT+Serif:400,700" !default;
$typography-should-import-google-fonts: true !default;

@import "compass/css3/border-radius";

// Styles to apply to the root typography container, generally the body
@mixin typography-base() {
    font-size: $typography-font-size-base;
    font-family:$typography-font-family-base;
}

// TODO does this belong here?
@mixin typography-link(
    $color: $typography-link-color, 
    $color-hover: $typography-link-color-hover,
    $color-active: $typography-link-color-active
) {
    a {
        &, &:link, &:visited {
            color: $color;
            text-decoration: none;
            font-family:inherit; // Overide beezer.css
        }

        &:hover,
        &:focus {
            color: $color-hover;
            text-decoration: underline;
            cursor:pointer;
        }

        &:active,
        &.active {
            color: $color-active;
            text-decoration:underline;
        }

        &:focus {
          // Default
          outline: thin dotted $color-hover;
          // WebKit
          outline: 5px auto -webkit-focus-ring-color;
          outline-offset: -2px;
        }
    }
}

// Base styles for all headings
@mixin typography-heading-base(
    $color: $typography-headings-color,
    $font-family: $typography-headings-font-family,
    $font-weight: $typography-headings-font-weight
) {
    font-family: $font-family;
    font-weight: $font-weight;
    color: $color;
}

// Font-size dependent styles for headings.
// This mixin uses the base font-size and line-height to establish
// the correct margin/line-height for maintaining the vertical rythym.
// See http://webtypography.net/2.2.2 or google vertical rythym for more 
@mixin typography-heading(
    $font-size,
    $margin-bottom-ratio: $typography-headings-margin-bottom-ratio,
    $line-height-base:$typography-line-height-base,
    $font-size-base:$typography-font-size-base
) {
    $line-height:2*$typography-font-size-h6 / $typography-line-height-computed;
    $margin-top-ratio: 1-$margin-bottom-ratio;
    font-size: $font-size; 
    line-height: $line-height;
    margin-top: #{$margin-top-ratio*$line-height}em;
    margin-bottom: #{$margin-bottom-ratio*$line-height}em;
}

////////////////////////////////////////////////////////////////////////////////
// HEADING PLACEHOLDERS
////////////////////////////////////////////////////////////////////////////////
// @extend these to give h1's and other elements the styles of an hX

%typography-heading-base {
    @include typography-heading-base();
}

%typography-h1 {
    @extend %typography-heading-base;
    @include typography-heading($typography-font-size-h1);
}

%typography-h2 {
    @extend %typography-heading-base;
    @include typography-heading($typography-font-size-h2);
}

%typography-h3 {
    @extend %typography-heading-base;
    @include typography-heading($typography-font-size-h3);
}

%typography-h4 {
    @extend %typography-heading-base;
    @include typography-heading($typography-font-size-h4);
}

%typography-h5{
    @extend %typography-heading-base;
    @include typography-heading($typography-font-size-h5);
}

%typography-h6{
    @extend %typography-heading-base;
    @include typography-heading($typography-font-size-h5);
}

////////////////////////////////////////////////////////////////////////////////
// END HEADING PLACEHOLDERS
////////////////////////////////////////////////////////////////////////////////


@mixin typography-paragraph($line-height: $typography-line-height-computed) {
    & {
        margin: 0 0 $line-height/2;
        line-height:$line-height;
    }
}

@mixin typography-paragraph-lead() {
    & {
        margin-bottom: $typography-line-height-computed;
        font-size: floor(($typography-font-size-base * 1.15));
        font-weight: 200;
        line-height: 1.4;
    }
}

// A modification to the typography-paragraph-lead for mobile device size
// Output this inside of the media-query of your choice
@mixin typography-paragraph-lead-mobile() {
    & {
        font-size: ($typography-font-size-base * 1.5);
    }
}

@mixin typography-blockquote() {
    & {
        padding-left:40px;
        padding-right:10px;
    }
}

// Code blocks
@mixin typography-code(
    $font-family: $typography-font-family-monospace, 
    $color: $typography-code-color,
    $bg-color: $typography-code-bg-color, 
    $border-color: $typography-code-border-color, 
    $border-radius: $typography-code-border-radius
) {
    & {
        font-family: $font-family;
        padding: (($typography-line-height-computed - 1) / 2);
        line-height: 1;
        background: $bg-color;
        color: $color;
        border:1px solid $border-color;
        word-break: break-all;
        word-wrap: break-word;
        @include border-radius(.2em);

        // Account for some code outputs that place code tags in pre tags
        code {
            padding: 0;
            font-size: inherit;
            color: inherit;
            white-space: pre-wrap;
            background-color: transparent;
            @include border-radius(0);
        }
    }
}

@mixin typography-code-scrollable(
    $max-height: $typography-code-scrollable-max-height
) {
    & {
        max-height: $max-height;
        overflow:auto;
    }
}

// Inline code
@mixin typography-code-inline(
    $color: $typography-code-color,
    $bg-color: $typography-code-bg-color, 
    $border-color: $typography-code-border-color,
    $border-radius: $typography-code-border-radius
) {

    & {
        margin:0 1px; // override beezer.css
        padding: 0px 5px;
        font-size: 80%;
        white-space: nowrap;
        color: $color;
        background: $bg-color;
        border:1px solid $border-color;
        @include border-radius(.2em);
    }
}

// Adapted from twitter bootstrap
@mixin typography-lists() {
    // Unordered and Ordered lists
    ul,
    ol {
        margin-top: 0;
        margin-bottom: ($typography-line-height-computed / 2);
        ul,
        ol {
            margin-bottom: 0;
        }
    }

    // List options

    // Unstyled keeps list items block level, 
    // just removes default browser padding and list-style
    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    // Inline turns list items into inline-block
    .list-inline {
        @extend .list-unstyled;

        > li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    // Description Lists
    dl {
        margin-top: 0; // Remove browser default
        margin-bottom: $typography-line-height-computed;
    }
    dt,
    dd {
        line-height: $typography-line-height-base;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: 0; // Undo browser default
    }
}

@mixin typography-address() {
    & {
        padding:0;
        margin:0;
        line-height: inherit;
        font-style: inherit;

    }
}

@mixin typography-google-fonts-import() {
    @if ($typography-should-import-google-fonts) {
        $typography-should-import-google-fonts: false;
        @import url($typography-google-fonts-url);
    }
}

/* Converts px to em in a given font-size context */
@function typography-em(
    $target-px, 
    $context-px: $typography-font-size-base 
) {
    @return ($target-px / $context-px) * 1em;
}
