@import "compass/css3/border-radius";

// FONT FAMILIES
$typography-font-family-sans-serif:
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$typography-font-family-serif:
    "PT Serif", "Times New Roman", Times, serif !default;
$typography-font-family-monospace:
    "Source Code Pro", Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace !default;
$typography-font-family-base: $typography-font-family-sans-serif !default;

// FONT SIZES
$typography-font-size-base: 16px !default;
$typography-font-size-large: ceil($typography-font-size-base * 1.25) !default; // ~18px
$typography-font-size-small: ceil($typography-font-size-base * 0.85) !default; // ~12px
$typography-font-size-h1: floor($typography-font-size-base * 2) !default;// ~32px
$typography-font-size-h2: floor($typography-font-size-base * 1.75) !default;
$typography-font-size-h3: ceil($typography-font-size-base * 1.5) !default;
$typography-font-size-h4: ceil($typography-font-size-base * 1.3)!default;
$typography-font-size-h5: ceil($typography-font-size-base * 1.125) !default;
$typography-font-size-h6: $typography-font-size-base !default;

// LINE HEIGHT
$typography-line-height-base: 1.5 !default;
$typography-line-height-computed:
    floor($typography-font-size-base * $typography-line-height-base) !default; // ~20px
$typography-line-height-em: #{$typography-line-height-base}em !default;

// HEADINGS
$typography-heading-font-family: $typography-font-family-serif !default;
$typography-heading-color: inherit !default;
$typography-heading-font-weight: 700;
$typography-heading-line-height:    1.1 !default;
// The ratio of the bottom margin relative to the total vertical margin height
$typography-heading-margin-bottom-ratio: .3333333;

// LINKS
$typography-link-color: lighten($brand-primary,10%) !default;
$typography-link-color-hover: $brand-primary !default;
$typography-link-color-active: $brand-secondary !default;

// UNDERLINES
$typography-underline-offset-sans-serif:1.2 !default;
$typography-underline-offset-serif:1.2 !default;
$typography-underline-size:0.1 !default;

// CODE
$typography-code-color: inherit !default;
$typography-code-bg-color: #eee !default;
$typography-code-border-color: #ddd !default;
$typography-code-border-radius: .2em !default;
$typography-code-scrollable-max-height:   340px !default;

// GOOGLE FONTS
$typography-google-fonts-url-base:"http://fonts.googleapis.com/css" !default;
$typography-google-fonts-options:
    "?family=PT+Serif:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700";
$typography-google-fonts-url:
    $typography-google-fonts-url-base + $typography-google-fonts-options;
// Flag for whether or not to import the google font url in the output CSS
$typography-should-import-google-fonts: true !default;

// Compass Vertical Rhythm
//------------------------------------------------------------------------------
$base-font-size: $typography-font-size-base;
$base-line-height: $typography-line-height-computed;
$round-to-nearest-half-line:true; // super important for reasonable headings
$relative-font-sizing: true; // uses ems instead of pixels
// We import it here so we can override some of the default variables with
// typography module variables.
@import "compass/typography/vertical_rhythm";


// Styles to apply to the root typography container, generally the body
@mixin typography-base() {
    font-family:$typography-font-family-base;
    @include establish-baseline($typography-font-size-base);
}

// The link base
@mixin typography-link-base() {
    // It may be empty now... but you should include it anyway
}

// A single state of a link
// Useful if you want to tweak one style (often the default style)
@mixin typography-link-state(
    $state: default,
    $color: auto,
    $underlined: auto,
    $font-type: sans-serif,
    $underline-size: $typography-underline-size
) {
    $underline-color: $color;
    $underline-offset: $typography-underline-offset-sans-serif;
    @if($font-type == serif) {
        $underline-offset: $typography-underline-offset-serif;
    }

    @if($state == default or $state == visited) {
        @if($color == auto) {
            $color: $typography-link-color;
        }

        color: $color;
        $underline-color: rgba($color, .5);
    } @else if($state == hover or $state == focus) {
        @if($color == auto) {
            $color: $typography-link-color-hover;
        }
        $underline-color: $color;
    } @else if($state == active) {
        @if($color == auto) {
            $color: $typography-link-color-active;
        }
        $underline-color: $color;
    }

    color: $color;
    @if($underlined == auto or $underlined == true) {
        @include typography-underline(
                    $underline-color,
                    $underline-offset,
                    $underline-size);
    } @else {
        @include typography-underline-remove();
    }

    // If focus, add focus overrides
    @if($state == focus) {
      // Default
      outline: thin dotted $color-hover;
      // WebKit
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
}

// Better underlines using background gradients
// Mixin adapted from http://www.sumnoise.com/2014/03/30/underlining-links/
// If you use for dotted, you may need a slightly larger underline-size
@mixin typography-underline(
    $color:rgba(black,.5),
    $underline-offset: $typography-underline-offset-sans-serif,
    $underline-size: $typography-underline-size,
    $underline-style: solid
) {
    /**
     * Better underlines using background gradients
     * See http://bit.ly/1vTg7hr
     */
    @if($underline-style == dotted) {
        $bg1:radial-gradient(center, $color, $color 1px, transparent 1px);
        @include background-image($bg1...);
        $underline-offset: $underline-offset - $underline-size/2;
        $underline-size: 2*$underline-size;
    } @else {
        @include background-image(
                    linear-gradient(top, transparent 50%, $color 50%));
    }

    background-repeat: repeat-x;
    background-size: #{$underline-size}em #{$underline-size}em;
    background-position: 0 #{$underline-offset}em;
    text-decoration: none;

    .lt-ie10 & { // because old IE can't handle it
        background: none;
        text-decoration: underline;
    }
}

// Remove the better underline styling
@mixin typography-underline-remove() {
    &, .lt-ie10 & { // because old IE can't handle it
        text-decoration:none;
    }
    background:none;
}

// Base styles for all headings
@mixin typography-heading-base(
    $color: $typography-heading-color,
    $font-family: $typography-heading-font-family,
    $font-weight: $typography-heading-font-weight
) {
    font-family: $font-family;
    font-weight: $font-weight;
    color: $color;
}

// Use this mixin to adjust heading sizes
// It adjusts the font-size, line-height, and margins all at once
@mixin typography-heading-size($font-size) {
    @if($font-size == h1) {
        $font-size: $typography-font-size-h1;
    } @else if($font-size == h2) {
        $font-size: $typography-font-size-h2;
    } @else if($font-size == h3) {
        $font-size: $typography-font-size-h3;
    } @else if($font-size == h4) {
        $font-size: $typography-font-size-h4;
    } @else if($font-size == h5) {
        $font-size: $typography-font-size-h5;
    } @else if($font-size == h6) {
        $font-size: $typography-font-size-h6;
    }

    @include adjust-font-size-to($font-size);
    @include margin-leader(1,$font-size);
    @include margin-trailer(.5,$font-size);
}

// Paragraph styling
@mixin typography-paragraph() {
    & {
        /* Reset margins */
        margin:0;

        @include adjust-font-size-to($typography-font-size-base);

        /* We only want bottom margins on paragraphs */
        @include margin-trailer;
    }
}

// Special styling for a lead-in paragraph
@mixin typography-paragraph-lead() {
    & {
        margin:0;
        @include adjust-font-size-to(floor($typography-font-size-base*1.15));
        @include margin-trailer;
        font-weight: 200;
    }
}

// A modification to the typography-paragraph-lead for mobile device size
// Output this inside of the media-query of your choice
@mixin typography-paragraph-lead-mobile() {
    & {
        @include adjust-font-size-to(floor($typography-font-size-base*1.5));
    }
}

// Blockquote
@mixin typography-blockquote() {
    & {
        padding-left:2*$base-rhythm-unit;

        padding-right:$base-rhythm-unit/2;
    }
}

// Code blocks
@mixin typography-code(
    $font-family: $typography-font-family-monospace,
    $color: $typography-code-color,
    $bg-color: $typography-code-bg-color,
    $border-color: $typography-code-border-color,
    $border-radius: $typography-code-border-radius
) {
    & {
        font-family: $font-family;
        background: $bg-color;
        color: $color;
        word-break: break-all;
        word-wrap: break-word;
        //padding: (($typography-line-height-computed - 1) / 2);
        //border:1px solid $border-color;
        @include rhythm-borders(1px, 1, $typography-font-size-base, solid);
        border-color: $border-color;
        @include border-radius(.2em);

        // Account for some code outputs that place code tags in pre tags
        code {
            padding: 0;
            font-size: inherit;
            color: inherit;
            white-space: pre-wrap;
            background-color: transparent;
            @include border-radius(0);
        }
    }
}

// Add scrolling to a code block
// Good for blocks interspersed in text
// TODO add options for vertical vs horizontal vs both?
@mixin typography-code-scrollable(
    $max-height: $typography-code-scrollable-max-height
) {
    & {
        max-height: $max-height;
        overflow:auto;
    }
}

// Inline code
@mixin typography-code-inline(
    $color: $typography-code-color,
    $bg-color: $typography-code-bg-color,
    $border-color: $typography-code-border-color,
    $border-radius: $typography-code-border-radius
) {

    & {
        margin:0 1px; // override beezer.css
        //font-size: 80%;
        @include adjust-font-size-to(.9*$typography-font-size-base);
        white-space: nowrap;
        color: $color;
        background: $bg-color;
        border:1px solid $border-color;
        // This is kind of abusing the vertical rhythm,
        // but we don't want the padding from inline code on two
        // adjacent lines to overlap
        padding:$base-half-leader/2 $base-leader;
        @include border-radius(.2em);
    }
}

// Address styling, mostly a reset currently
@mixin typography-address() {
    & {
        padding:0;
        margin:0;
        line-height: inherit;
        font-style: inherit;
    }
}

// Adds the google fonts import only the first time it is used
@mixin typography-google-fonts-import-once() {
    @if ($typography-should-import-google-fonts) {
        $typography-should-import-google-fonts: false;
        @import url($typography-google-fonts-url);
    }
}

// Converts px to em in a given font-size context
// Generally unecessary if you are using the compass vertical rhythm
@function typography-em(
    $target-px,
    $context-px: $typography-font-size-base
) {
    @return ($target-px / $context-px) * 1em;
}
