////////////////////////////////////////////////////////////////////////////////
// Base is where we establish our global context for generating full files.
////////////////////////////////////////////////////////////////////////////////

@import "variables";
$ui-color-base: change-color(brown, $saturation:70%);
$ui-color-primary: $brand-primary;
$ui-color-secondary: $brand-secondary;

$ui-font-family-sans-serif: $font-family-sans-serif;
$ui-font-family-serif: $font-family-serif;

// Standard CSS Imports go here, before any SCSS that would create CSS output.
//------------------------------------------------------------------------------
// TODO move url to variables
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

@import "compass/reset/utilities";
@include reset-html5();
