@import "colors";

// We want to use some of the defaults from typography
@import "../shared/typography";

////////////////////////////////////////////////////////////////////////////////
// KNOWL 
////////////////////////////////////////////////////////////////////////////////
$knowl-color-base: $brand-primary;
$knowl-margin-bottom: rhythm(1);
$knowl-padding: rhythm(1);
$knowl-has-ragged-top: true;
$knowl-ragged-top-height: rhythm(.5);

////////////////////////////////////////////////////////////////////////////////
// CONTENT
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// UI
////////////////////////////////////////////////////////////////////////////////
$ui-color-base: $brand-base;
/*$ui-color-base: change-color(brown, $saturation:70%);*/
$ui-color-primary: $brand-primary;
$ui-color-secondary: $brand-secondary;

$ui-font-family-sans-serif: $typography-font-family-sans-serif;
$ui-font-family-serif: $typography-font-family-serif;
