@import "../ui_config";
@import "../mixins/_navtree.scss";
@import "../mixins/buttons";
@import "../mixins/flex-container";

/* 
 * Table-of-contents for chapter/section/etc summary pages 
 */
.summary-links {

    a {
        $font-size: $ui-font-size-h3;

        $color: $ui-link-block-color;
        $color-hover: $ui-link-block-color-hover;
        $color-active: $ui-link-block-color-active;

        $bg: $ui-link-block-bg;
        $bg-hover: $ui-link-block-bg-hover;
        $bg-active: $ui-link-block-bg-active;

        $codenumber-opacity: .8;

        @include ui-link-directional(
            $font-size: $font-size,

            $color: $color,
            $color-hover: $color-hover,
            $color-active: $color-active,

            $bg: $bg,
            $bg-hover: $bg-hover,
            $bg-active: $bg-active
        );

        & {
            font-family: $ui-font-family-heading;

            @media screen and (max-width: $ui-screen-xs) {
                font-size:.8em;
            }
        }

        $codenumber-gutter: $ui-line-height-computed;
        @include navtree-codenumber-support(
            $indent: $codenumber-gutter,
            $codenumber-width: 1.5*$font-size,
            $codenumber-gutter-right: $codenumber-gutter 
        );

        .codenumber {
            color: darken($bg, 50%);
        }

        &:hover .codenumber {
            color: rgba($color-hover, $codenumber-opacity);
        }

        &:active .codenumber {
            color: rgba($color-active, $codenumber-opacity);
        }
    }
}

// TODO does this belong in ui or content?
.sagecell {

    /*.sagecell_options {*/
        /*float:none;*/
        /*text-align:left;*/
    /*}*/
    
    .ui-button {
        /*float:right;*/
        &.ui-state-default, &.ui-state-hover, &.ui-state-active, &.ui-state-focus {
            /*@include button-minimalist($color: #999);*/
            @include button-minimalist(
                        $color: #888,
                        $color-hover: $ui-color-secondary,
                        $color-active: $ui-color-primary);
            font-family: $ui-font-family-base;
            font-size: $ui-font-size-base;
            padding: 0 #{$ui-line-height-base/2}em;

            @include button-depressable();
        }

        &.ui-button-text-only .ui-button-text {
            padding:0;
            line-height:1.3*$ui-line-height-base;
        }
    }

    .sagecell_editor {
        margin-bottom: #{$ui-line-height-computed*.4};
    }
}

// TODO bring knowl selectors up out of mixin file
/*@include knowl();*/

/* restyle knowls at first and third depth */
/*.knowl-output, .knowl-output  .knowl-output  .knowl-output {*/
    /*@include knowl-output();*/
    /*@import "exercises"; // TODO what's going on here ?*/
    /*@include exercise($knowl-border-color);*/
    /*@include exercisegroup($knowl-border-color, darken($knowl-border-color, 0%));*/
/*}*/
