@import "../ui_config";
@import "compass/css3/box-shadow";
@import "../mixins/sliding-sidebars";

& {
    display:block;

    margin:0;
    padding:0;

    background:white;

    border:1px solid #ccc;
    border-top:none;
    border-bottom:none;

    /***************************************************************************
     * There are a few ways to fix the #content's top/botom margin collapsing 
     * inside this element.
     **************************************************************************/
    /* Method 1 */
    padding-top:1px;
    padding-bottom:6em; /* This feels more conclusive: the page is over. */

    /* Method 2 - will clip anything positioned absolutely outside borders */
    /*overflow:hidden;*/

    /* Method 3 - looks bad because of 1px break in left/right borders */
    /*border-top:1px solid transparent;*/
    /*border-bottom: 1px solid transparent;*/

    /**************************************************************************/

    @include box-shadow(rgba(black,.5) 0 5px 5px);

    @media screen and (max-width: $ui-screen-sm-min) {
        /* Make space for navbar fixed to bottom of screen */
        padding-bottom: $ui-navbar-height;
    }

    // Styles required to make sliding sidebars work.
    @include sliding-sidebars-main();

    @include sliding-sidebars-main-side(
        $side: left,
        $slide-min: $ui-screen-sm-min,
        $default-open-min: $ui-screen-sm-min,
        $sidebar-width: $ui-sidebar-left-width
    );

    @include sliding-sidebars-main-side(
        $side: right,
        $slide-min: $ui-screen-sm-min,
        $default-open-min: $ui-screen-lg-min,
        $sidebar-width: $ui-sidebar-right-width
    );
}

/**
 * Container for main content. 
 * This is bound to a comfortable max-width for reading.
 */
#content {
    margin: 3em auto;
    max-width: $ui-content-max-width;
    @media screen and (max-width: $ui-content-max-width) {
        margin:3em #{$ui-line-height-base/2}em;
    }
}

