@import "../ui_config";
@import "compass/css3/box-shadow";
@import "../mixins/cramped";

& {
    display:block;

    margin:0;
    padding:0;

    background:white;

    border:1px solid #ccc;
    border-top:none;

    max-width: $ui-content-max-width + 2*$ui-content-margin;
    margin: $ui-content-margin auto;
    margin-top: 0px;
    margin-bottom: 0px;

    // @include box-shadow(rgba(black,.5) 0 5px 5px);

    /***************************************************************************
     * There are a few ways to fix the #content's top/botom margin collapsing
     * inside this element.
     **************************************************************************/
    /* Method 1 */
    padding-top:1px;
    padding-bottom:6em; /* This feels more conclusive: the page is over. */

    /* Method 2 - will clip anything positioned absolutely outside borders */
    /*overflow:hidden;*/

    /* Method 3 - looks bad because of 1px break in left/right borders */
    /*border-top:1px solid transparent;*/
    /*border-bottom: 1px solid transparent;*/

    /**************************************************************************/

    @media screen and (max-width: $screen-sm-max) {
        /* Make space for navbar fixed to bottom of screen */
        padding-bottom: $ui-navbar-height;
    }
}

/**
 * Container for main content.
 * This is bound to a comfortable max-width for reading.
 */
#content {
    max-width: $ui-content-max-width;

    .layout-left & {
        margin: $ui-content-margin;
    }

    /* Default center */
    &, .layout-centered & {
        margin: $ui-content-margin auto;
    }


    &, .layout-left &, .layout-centered & {

        /* When the content is cramped */
        @include media-cramped-content(
            $content-max-width: $ui-content-max-width,
            $content-margin: $ui-content-margin
        ) {
            /* Decrease the margins */
            margin:$ui-content-margin-sm $ui-content-margin-sm;
        }

        @media screen and (max-width: $screen-sm-max) {
            & {
                /* Decrease the margins */
                margin:$ui-content-margin-sm auto;
            }
        }

        /* And we want consistently small margins below the content max width
         */
        $breakpoint: $ui-content-max-width + 2*$ui-content-margin;
        @media screen and (max-width: $breakpoint) {
            & {
                /* Decrease the margins */
                margin:$ui-content-margin-sm $ui-content-margin-sm;
            }
        }

        /* And even smaller margins at extra small layouts */
        @media screen and (max-width: $screen-xs-max) {
            & {
                /* Decrease the horizontal margins */
                margin:$ui-content-margin-sm $ui-content-margin-xs;
            }
        }
    }
}

