@import "../ui_config";

@import "compass/css3/box-shadow";
@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";

// For icon variables
@import "lib/ionicons/ionicons-variables";

@import "../../shared/_typography.scss";
@import "../../shared/_heading.scss";
@import "../../shared/_css_message.scss";

// Note: These variables should only depend on ui module variables
$masthead-bg-color: change-color($ui-color-bg, $lightness:98%) !default;
$masthead-title-color: $brand-primary;
$masthead-subtitle-color:change-color($ui-color-base, $lightness:35%);
$masthead-byline-color: change-color($masthead-bg-color, $lightness:20%) !default;
$masthead-font-family: $typography-heading-font-family;

& {
    position: relative;
    background: $masthead-bg-color;
    min-height:inherit;
    border:none;
    margin: {
      left: auto;
      right: auto;
    }
    @include box-shadow(none);
}

.banner {
    border-bottom:1px solid darken($masthead-bg-color, 15%);
    /* to ensure children's margin-top works */
    border-top:1px solid transparent;

    @include clearfix();
    @include padding-leader(.5);
    @include padding-trailer(.9);

    @media screen and (max-width:$screen-xxs-max) {
        padding-left:$ui-content-margin-xs;
        padding-right:$ui-content-margin-xs;
    }
}

#title-container, .title-container {
    font-size: 1em;
    padding-left: $ui-left-margin;
    @include clearfix();

    /* On mobile phones */
    @media screen and (max-width:$screen-xxs-max) {
        padding:0;
        text-align:center;
        @include margin-leader(.5);;
    }

    @include heading-selector {
        @include heading-base(
            $heading-before: none,
            $heading-after: none,
            $title-after:none // use subtitle before instead
        );

        $font-size: $typography-font-size-h1;
        & {
            // This is one place where its okay not to use typography-heading-size
            // This heading is a little different than normal headings
            margin:0;
            @include adjust-font-size-to($font-size);

            // Override addon
            font-family:$masthead-font-family;
            color: $masthead-title-color;
        }

        /* On mobile phones */
        @media screen and (max-width:$screen-xxs-max) {
            $font-size: $typography-font-size-h3;
            @include adjust-font-size-to($font-size);
            margin:0;
            @include margin-trailer(.5, $font-size);
        }

        /* Support links inside title */
        a {
            &:link, &:visited {
                @include typography-link-state(
                            $state:default,
                            $color:$masthead-title-color,
                            $font-type: serif,
                            $underlined: false);
            }

            &:hover, &:focus {
                @include typography-link-state(
                            $state:hover,
                            $font-type: serif,
                            $underlined: true,
                            $underline-size: .05);
            }

            &:active {
                @include typography-link-state(
                            $state:active,
                            $font-type: serif,
                            $underlined: true,
                            $underline-size: .05);
            }
        }

        // TODO add an option for forcing the subtitle onto a second line?
        .subtitle {
            font-weight: normal; /* Much classier */

            &:before {
                content: ": ";
            }

            @media screen and (max-width: $screen-sm-max) {
                $subtitle-font-size:$typography-font-size-h2;
                /* Force the subtitle onto a seperate line */
                display:block;
                @include adjust-font-size-to(
                    $to-size: $subtitle-font-size,
                    $from-size:$font-size);

                /* De-emphasize relative to main title */
                color: $masthead-subtitle-color;

                /* Remove colon */
                &:before {
                    content: normal;
                }
            }
        }

    }
}

#logo-link, .logo-link {

    position:relative;
    float:left;

    $font-size:2.5*$base-line-height; // must be px
    font-size:$font-size;
    margin-top: rhythm(.25, $font-size);

    margin-left: $ui-left-margin;
    text-align:center;
    line-height:1; /* Must be 1 so that icon placeholder is centered */

    img {
        width:auto;
        height:auto;

        /* Allow font-size to control height
         * so that icon placeholder height matches */
        max-height:1em;
    }

    /* Display placeholder icon for css3 browsers (progressive enhancement) */
    &:empty {

        $icon-scale-factor: 1;

        &:before {

            &, .mathbook-book & {
                content: $ionicon-var-android-book;
            }

            .mathbook-article & {
                content: $ionicon-var-document-text;
            }

            font-family: "Ionicons";
            font-size:$icon-scale-factor*1em;

            /* Center the icon in a square the size of the parent's font-size */
            line-height:1/$icon-scale-factor;
            width: (1/$icon-scale-factor)*1em;
            @include inline-block(top);
            text-align:center;

            color: #ccc;
        }

        &:hover:before {
            color: $brand-primary;
        }

        &:active:before {
            color: $brand-secondary;
        }
    }

    /* Override addons */
    &:link, &:hover, &:active {
        background:transparent;
        border:none;
        text-decoration:none;
    }

    /* On mobile phones */
    @media screen and (max-width:$screen-xxs-max) {
        display:block;
        float:none;
        margin:0;

        $font-size:2.5*$base-line-height; // must be px
        font-size:$font-size;
    }
}

/* IMPORTANT: #byline is deprecated! */
#byline, .byline {
    $font-size: $typography-font-size-h4;
    color: $masthead-byline-color;
    font-weight:normal;
    margin:0;
    @include adjust-font-size-to($font-size);
    min-height:inherit;

    // Override addon
    font-family:$masthead-font-family;

    @media screen and (max-width:$screen-xxs-max) {
        $font-size: $typography-font-size-h6;
        margin-top:0;
        @include adjust-font-size-to($font-size);
    }

    a {
        &:link, &:visited {
            @include typography-link-state(
                        $state:default,
                        $color: $masthead-byline-color,
                        $font-type: serif,
                        $underlined:true);
        }

        &:hover, &:focus {
            @include typography-link-state(
                        $state:hover,
                        $font-type: serif,
                        $underlined: true);
        }

        &:active {
            @include typography-link-state(
                        $state:active,
                        $font-type: serif,
                        $underlined: true);
        }
    }
}
