@import "../ui_config";
// Secondary navbar

@import "../mixins/buttons";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

$secondary-navbar-icon-size: $ui-icon-size;
$secondary-navbar-icon-box-size: $ui-icon-box-size;

@mixin secondary-navbar-button($icon, $side:left) {
    @include icon-button(
        $icon,
        $secondary-navbar-icon-size,
        $secondary-navbar-icon-box-size,
        $side);
}

& {
    top:0;
    left:0;
    right:0;
    height:0;

    @media screen and (max-width: $ui-screen-sm-min) {
        /* Main nav takes over at small size */
        display:none;
    }
}

.previous-button {
    /* ion-chevron-left */
    @include secondary-navbar-button("\f124");
}

.next-button {
    /* ion-chevron-right */
    @include secondary-navbar-button("\f125");
}

/* Navbar button overrides */
.next-button, .previous-button {
    &, &:link, &:visited, &:hover, &:active {
        color: inherit;
        text-decoration:none;
    }

    & {
        width:$secondary-navbar-icon-box-size;

        border:none;
        background:transparent;
        opacity:.5;
        @include transition-property(opacity,background-color);
        @include transition-duration(200ms);
    }

    &:hover {
        background:rgba(black, .05);
        opacity:1;
    }

    &:active {
        @include box-shadow(rgba(black, .3) 0 1px 5px inset);
    }

    &:before {
        top:50%;
        margin-top: - $secondary-navbar-icon-box-size/2;
    }
}

.next-button {
    @include without-text(
        $secondary-navbar-icon-size,
        $secondary-navbar-icon-box-size,
        right);
}

.previous-button {
    @include without-text(
        $secondary-navbar-icon-size,
        $secondary-navbar-icon-box-size,
        left);
}

.next-button-sticky-wrapper, .next-button {
    float:right;
    width:$secondary-navbar-icon-box-size;

    .next-button {
        float:none;
        position:absolute;
        top:0;
    }
}
.previous-button-sticky-wrapper, .previous-button {
    float:left;
    width:$secondary-navbar-icon-box-size;

    .previous-button {
        float:none;
        position:absolute;
        top:0;
    }
}
