@import "../ui_config";
// Sidebar left
@import "../mixins/sliding-sidebars";
@import "../mixins/navtree";
@import "compass/css3/transform";
@import "compass/css3/inline-block";

& {
    @include sliding-sidebars-sidebar(
        $side:left,
        $default-open-min: $ui-screen-sm-min,
        $sidebar-width: $ui-sidebar-left-width
    );
}


/* The table-of-contents itself */
#toc {

    $font-size:.91*$ui-font-size-base;

    $segment-height:1.5*$ui-line-height-computed;
    $segment-line-height:.7*$ui-line-height-computed;
    $segment-border-width: 1px;

    $base-indent:($ui-icon-box-size - $ui-icon-size)/2;
    $base-indent-touch: ($ui-icon-box-size-touch - $ui-icon-size-touch)/2;

    $codenumber-width:1*$font-size;
    $codenumber-gutter-right:.4*$font-size;

    $title-offset:$codenumber-width + $codenumber-gutter-right;

    $child-indent: $base-indent + $title-offset;
    $child-indent-touch: $base-indent-touch + $title-offset;

    & {
        /* IMPORTANT height must be calculated by javascript. */
        width:$ui-sidebar-left-width;
        margin:0;
        font-size:$font-size;

        // Not sure about this one...we'll see
        overflow-y:auto;
        overflow-x:hidden;
        /* Enable momentum scrolling on iOS */
        -webkit-overflow-scrolling: touch;
    }

    h2 {
        & {
            display:block;
            font-family: $ui-font-family-heading;
            font-size: 1em;
            margin: 0;
        }

        a {
            @include navtree-segment(
                $font-size:$font-size,
                $height: $segment-height,
                $line-height:$segment-line-height,
                $indent: $base-indent,

                $border-width: $segment-border-width,
                $border-color: darken($ui-toc-heading-bg, 10%),
                $border-color-hover: darken($ui-toc-heading-bg-hover, 12%),

                $color: $ui-toc-heading-color,
                $color-hover: $ui-toc-heading-color-hover,
                $color-active: $ui-toc-heading-color-active,

                $bg: $ui-toc-heading-bg,
                $bg-hover: $ui-toc-heading-bg-hover,
                $bg-active: $ui-toc-heading-bg-active
            );

            @media screen and (max-width: $ui-screen-sm-min) {
                @include navtree-segment(
                    $font-size:$font-size,
                    $height: $ui-touch-scale*$segment-height,
                    $line-height:$ui-touch-scale*$segment-line-height,
                    $indent: $base-indent-touch,

                    $border-width: $segment-border-width,
                    $border-color: darken($ui-toc-heading-bg, 10%),
                    $border-color-hover: darken($ui-toc-heading-bg-hover, 12%),

                    $color: $ui-toc-heading-color,
                    $color-hover: $ui-toc-heading-color-hover,
                    $color-active: $ui-toc-heading-color-active,

                    $bg: $ui-toc-heading-bg,
                    $bg-hover: $ui-toc-heading-bg-hover,
                    $bg-active: $ui-toc-heading-bg-active
                );
            }
        }
    }

    .codenumber + .title {
        @include inline-block(baseline);
        margin-left: $title-offset; // subtract the padding

        @media screen and (max-width: $ui-screen-sm-min) {
            margin-left: $title-offset;
        }
    } 

    .codenumber {
        position:absolute;
        right:100%;
        margin-right:-($base-indent+$codenumber-width);
        text-align:right;

        @media screen and (max-width: $ui-screen-sm-min) {
            margin-right:-($base-indent-touch);
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
            display: block;
            margin: 0px;
            padding: 0px;

            $border-color: darken($ui-color-base, 12%);
            $border-color-hover:darken($ui-link-block-bg-hover, 10%);

            a {

                @include navtree-segment(
                    $font-size:$font-size,
                    $height: $segment-height,
                    $line-height:$segment-line-height,
                    $indent: $child-indent,

                    $border-width: $segment-border-width,
                    $border-color: $border-color,
                    $border-color-hover: $border-color-hover,

                    $color: $ui-link-block-color,
                    $color-hover: $ui-link-block-color-hover,
                    $color-active: $ui-link-block-color-active,

                    $bg: $ui-link-block-bg,
                    $bg-hover: $ui-link-block-bg-hover,
                    $bg-active: $ui-link-block-bg-active
                );

                @media screen and (max-width:$ui-screen-sm-min) {

                    @include navtree-segment(
                        $font-size:$font-size,
                        $height: $ui-touch-scale*$segment-height,
                        $line-height:$ui-touch-scale*$segment-line-height,
                        $indent: $child-indent-touch,

                        $border-width: $segment-border-width,
                        $border-color: $border-color,
                        $border-color-hover: $border-color-hover,

                        $color: $ui-link-block-color,
                        $color-hover: $ui-link-block-color-hover,
                        $color-active: $ui-link-block-color-active,

                        $bg: $ui-link-block-bg,
                        $bg-hover: $ui-link-block-bg-hover,
                        $bg-active: $ui-link-block-bg-active
                    );

                }

                @include navtree-segment-border-collapse(
                    $border-width: $segment-border-width,
                    $border-color-hover: $border-color-hover
                );
            }

            &:last-child a {
                @include navtree-segment-border-collapse-last-child(
                    $border-color-hover: $border-color-hover
                );
            }
        }
    }

}


.extras {
    nav {
        a {
            &, &:link, &:visited {
                display:block;

                color: white;
                background:change-color($ui-color-bg, $lightness:27%);
                border-top:2px solid rgba(white,.2);
                border-bottom:1px solid rgba(black,.2);

                height: #{$ui-line-height-base}em;
                line-height:$ui-line-height-base;
                padding:#{$ui-line-height-base/2}em;
                padding-top:0;
                padding-bottom:0;

                text-decoration:none;
            }

            &:hover {
                background:change-color($ui-color-bg, $lightness:44%);
                text-decoration:none;
            }

            &:active, &.active {
                text-decoration:underline;
                background:change-color($ui-color-bg, $lightness:33%);
                border-top-color:rgba(black,.2);
                border-bottom-color:rgba(white,.2);
            }
        }
    }
}

