@import "../ui_config";
@import "../mixins/sliding-sidebars";

& {
    @include sliding-sidebars-sidebar(
        $side: right,
        $default-open-min: $ui-screen-lg-min,
        $sidebar-width: $ui-sidebar-right-width
    );

    top:0;
    /* The right sidebar is not sticky, so we can use right:0;*/
    right:0;
}
