@import "../_ui_config.scss";
@import "../mixins/navtree";
@import "compass/css3/inline-block";

$font-multiplier: .92;
$font-size:$font-multiplier * $typography-font-size-base;

$codenumber-width:0.8*$font-size;  // was .5*$font-size;
$codenumber-gutter-right:0.3*$font-size;  // was .5*$font-size;

$title-offset:$codenumber-width + $codenumber-gutter-right;

// Used for headings and, on mobile, for both headings and children
$segment-height:(1.25/$font-multiplier)*$typography-line-height-computed;
$segment-line-height:.7*$typography-line-height-computed;
$segment-border-width: 1px;

// Child segments on desktop
$child-segment-height:(1/$font-multiplier)*$typography-line-height-computed;
$child-segment-line-height:.7*$typography-line-height-computed;
$child-segment-border-width: 1px;

$base-indent:$ui-left-margin;
$base-indent-touch: $ui-left-margin-touch;

$child-indent: $base-indent + $title-offset;
$child-indent-touch: $base-indent-touch + $title-offset;


& {
    /* IMPORTANT height must be calculated by javascript. */
    width:$ui-toolbar-width;
    margin:0;
    font-size:$font-size;

    // Not sure about this one...we'll see
    overflow-y:auto;
    overflow-x:hidden;
    /* Enable momentum scrolling on iOS */
    -webkit-overflow-scrolling: touch;
}

// TODO we should not be styling the elements directly here.

h2 {
    & {
        display:block;
        font-family: $typography-heading-font-family;
        font-weight:700;
        font-size: 1em; /* Set font size on ToC */
        margin: 0;
    }

    a {

        $border-color: darken($ui-toc-heading-bg, 7%);
        $border-color-hover: darken($ui-toc-heading-bg-hover, 10%);

        @include navtree-segment(
            $font-size:$font-size,
            $height: $segment-height,
            $line-height:$segment-line-height,
            $indent: $base-indent,

            $border-width: $segment-border-width,
            $border-color: $border-color,
            $border-color-hover: $border-color-hover,

            $color: $ui-toc-heading-color,
            $color-hover: $ui-toc-heading-color-hover,
            $color-active: $ui-toc-heading-color-active,

            $bg: $ui-toc-heading-bg,
            $bg-hover: $ui-toc-heading-bg-hover,
            $bg-active: $ui-toc-heading-bg-active
        );

        @media screen and (max-width: $screen-sm-max) {
            @include navtree-segment(
                $font-size:$font-size,
                $height: $ui-touch-scale*$segment-height,
                $line-height:$ui-touch-scale*$segment-line-height,
                $indent: $base-indent-touch,

                $border-width: $segment-border-width,
                $border-color: $border-color,
                $border-color-hover: $border-color-hover,

                $color: $ui-toc-heading-color,
                $color-hover: $ui-toc-heading-color-hover,
                $color-active: $ui-toc-heading-color-active,

                $bg: $ui-toc-heading-bg,
                $bg-hover: $ui-toc-heading-bg-hover,
                $bg-active: $ui-toc-heading-bg-active
            );
        }
    }
}

.codenumber + .title {
    @include navtree-codenumber-title($codenumber-width, $codenumber-gutter-right);
}

.codenumber {
    @include navtree-codenumber($base-indent, $codenumber-width);

    @media screen and (max-width: $screen-sm-max) {
        @include navtree-codenumber($base-indent-touch, $codenumber-width);
    }
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li {
        display: block;
        margin: 0px;
        padding: 0px;

        $border-color: darken($ui-color-bg, 5%);
        $border-color-hover:darken($ui-link-block-bg-hover, 10%);

        a {

            @include navtree-segment(
                $font-size:$font-size,
                $height: $child-segment-height,
                $line-height:$child-segment-line-height,
                $indent: $child-indent,

                $border-width: $child-segment-border-width,
                $border-color: $border-color,
                $border-color-hover: $border-color-hover,

                $color: $ui-link-block-color,
                $color-hover: $ui-link-block-color-hover,
                $color-active: $ui-link-block-color-active,

                $bg: $ui-link-block-bg,
                $bg-hover: $ui-link-block-bg-hover,
                $bg-active: $ui-link-block-bg-active
            );

            @media screen and (max-width:$screen-sm-max) {

                @include navtree-segment(
                    $font-size:$font-size,
                    $height: $ui-touch-scale*$segment-height,
                    $line-height:$ui-touch-scale*$segment-line-height,
                    $indent: $child-indent-touch,

                    $border-width: $segment-border-width,
                    $border-color: $border-color,
                    $border-color-hover: $border-color-hover,

                    $color: $ui-link-block-color,
                    $color-hover: $ui-link-block-color-hover,
                    $color-active: $ui-link-block-color-active,

                    $bg: $ui-link-block-bg,
                    $bg-hover: $ui-link-block-bg-hover,
                    $bg-active: $ui-link-block-bg-active
                );

            }

            @include navtree-segment-border-collapse(
                $border-width: $segment-border-width,
                $border-color-hover: $border-color-hover
            );
        }

        &:last-child a {
            @include navtree-segment-border-collapse-last-child(
                $border-color-hover: $border-color-hover
            );
        }
    }
}
