@import "../_content_config.scss";
@import "../../shared/typography";
@import "../../shared/heading";
@import "../mixins/environment";

/*******************************************************************************
 * Environments
 ******************************************************************************/

// A placeholder class for @extending. 
// This will not output CSS unless it is @extended.
// See SASS docs for more details.
%environment-base {
    @include environment-base();
}

.definition-like {
    @extend %environment-base;
}

.theorem-like {
    @extend %environment-base;

    p, ol, ul {
        font-style: italic;
    }

    .statement {

        display:inline;

        p:first-child {
            display:inline;
        }

        &:last-child, &:last-of-type {
            margin-bottom:0;
        }
    }
}

.proof {

    // use rgba so it looks nice inside knowls too
    $border-color: rgba(black, .1);
    $border-width: .1em;
    $padding-right: rhythm(1);
    $tombstone-color: rgba(black, .2);

    // @davidfarmer has asked that we keep proofs separate in CSS output
    // so we use the mixin rather than extending %environment-base
    @include environment-base();

    & {
        @include heading-selector {
            font-style: italic;
            font-weight:normal;
            /* It helps to have a little bit of extra space after proof */
            margin-right:.25em;
        }

        position:relative;

        /* dotted borders are just really ugly... */
        /*border-right: 1px dotted #aaa;*/

        /* Less use a light solid one */
        border-right: $border-width solid $border-color;

        /* Cut the border up into the top margin */
        margin-top: -rhythm(.5);
        padding-top: rhythm(.5);

        /* Cut the border into the right margin */
        padding-right: $padding-right;
        margin-right:-($padding-right + $border-width);

        /* Cut the tombstone into the standard margin-bottom */
        @include padding-trailer(.5);
        @include margin-trailer(.5);

        @media screen and (max-width: $screen-sm-min) {
            /* Bring border out of the right margin */
            margin-right:0;
        }

        @media screen and (max-width: $screen-xs-min) {
            /* Remove the border */
            padding:0;
            margin-right:0;
            border-right:0;
            padding-top:0;

            /* Make more space for tombstone */
            @include padding-trailer;
            @include margin-trailer;
        }
    }

    &:after {
        content:"\220E";
        position:absolute;
        width: 1em;
        right:0;
        bottom:0;
        margin:0; /* Override addon.css */
        margin-right: rhythm(.5);

        color: $tombstone-color;
        text-align:right;

        @media screen and (max-width: $screen-xs-min) {
            /* Center the tombstone */
            right:50%;
            margin-right:-.5em;
            text-align:center;
        }
    }
}

.remark-like {
    @extend %environment-base;
}

.example-like {
    @extend %environment-base;
}

.exercise-like {
    @extend %environment-base;
}

// TODO what is this? does it belong in content or ui?
// TODO tie values into variables for vertical rythym and color
.aside-like {
    @extend %environment-base;

    // From addon
    // -------------
    padding: 8px 15px 10px 15px;
    margin: 5px 0px 5px 10px;
    background-color: rgb(245,250,255);
    border: 2px solid rgb(220,235,250);

    .aside-like {
        background-color: rgb(250,255,245);
        border: 1px dotted #aaa;
    }
}
