@import "../../shared/_typography.scss";
@import "../_content_config.scss";

figure {

    & {
        /* maintain vertical rhythym with line-height sized trailing margin */
        @include margin-trailer;
    }

    &.wrap {
        float: right;
        margin-right: 0;
        /*margin-left:30px;*/
        margin-left:$base-rhythm-unit;

        img { width: 250px; }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        &.wrap {
            float:right;
            margin:0;
        }
    }
    
    table {
        margin-left: auto;
        margin-right: auto;
    }

    figcaption {
        & { 
            @include adjust-font-size-to($typography-font-size-base);
            /*margin-top:10px;*/
            @include margin-leader;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        @include heading();

        &.wrap {
            /*margin:10px;*/
            margin-left: $base-half-leader;
            margin-right: $base-half-leader;
            text-align: center;
        }
    }
}
