@import "../_content_config.scss";
@import "../mixins/heading";
@import "../mixins/section";
@import "../../shared/typography";

.chapter {
    @extend %section-base;

    $heading-title-font-size: $typography-font-size-h2;
    $heading-type-font-size: $typography-font-size-h3;

    @include heading() {
        /* 
         * We use font-size-base to calculate proper line-heights 
         * for vertical rythym
         */
        font-size: $typography-font-size-base;
        /*margin-bottom: typography-em($typography-line-height-computed, */
                                     /*$typography-font-size-base);*/
        @include margin-trailer;

        .type, .codenumber {
            /* Chapter type prefix is smaller (as in LaTeX) */
            //font-size: $heading-type-font-size;
            @include typography-heading($heading-type-font-size);
        }
    }

    @include heading-title($before: "", $after: "") {
        display:block;
        /*font-size:$heading-title-font-size;*/
        /*// Set margin of one standard line-height*/
        /*// but using em relative to this element's font-size*/
        /*margin-top: typography-em($typography-line-height-computed/2, */
                                  /*$heading-title-font-size);*/
        @include typography-heading($heading-title-font-size);

        /* Force a half-line leader */
        @include margin-leader(.5, $heading-title-font-size);
    }

    /** 
     * Chapter heading in the <header> format
     * This format supports a byline for anthology textbooks 
     * and journals with different chapter authors.
     *
     * The main difference is that the margin is applied to the header
     * element instead of the heading element.
     */
    & > header {

        & {
            font-size: $typography-font-size-base;
            /*margin-bottom: typography-em($typography-line-height-computed, */
                                         /*$typography-font-size-base);*/
            @include margin-trailer;
        }

        @include heading() {
            /*margin-bottom: typography-em($typography-line-height-computed, */
                                         /*$typography-font-size-base);*/
            @include margin-trailer;
        }

        @include heading-title() {
            /* The margin goes on the header element instead */
            margin-bottom:0;
        }

        .byline {
            margin:0;
            color: $content-gray-light;
            &:before { content: "By "; }
        }
    }

    /* Scale child headings */
    .section, 
    .exercises,
    .references,
    .abstract,
    .preface, 
    .introduction, 
    .conclusion, 
    .abstract,
    .acknowledgements {
        @include heading-selector {
            @include typography-heading($typography-font-size-h3);
        }

        .subsection {
            @include heading-selector {
                @include typography-heading($typography-font-size-h4);
            }

            .subsubsection {
                @include typography-heading($typography-font-size-h5);
            }
        }
    }
}

.section {
    @extend %section-base;
    @extend %heading-no-type;

    /* Scale child headings */
    .subsection {
        @include heading-selector {
            @include typography-heading($typography-font-size-h3);
        }

        .subsubsection {
            @include heading-selector {
                @include typography-heading($typography-font-size-h4);
            }
        }
    }
}

.subsection {
    @extend %section-base;
    @extend %heading-no-type;

    /* Scale child headings */
    .subsubsection {
        @include heading-selector {
            @include typography-heading($typography-font-size-h3);
        }
    }
}

.subsubsection {
    @extend %section-base;
    @extend %heading-no-type;
}

////////////////////////////////////////////////////////////////////////////////
// SPECIAL SECTIONS
////////////////////////////////////////////////////////////////////////////////

.exercises {
    @extend %section-base;
    @extend %heading-no-type;
}

.references {
    @extend %section-base;
    @extend %heading-no-type;
}

////////////////////////////////////////////////////////////////////////////////
// TYPED SECTIONS
////////////////////////////////////////////////////////////////////////////////

.frontmatter {
    @extend %section-base;
    @include heading-selector {
        text-align:center;
    }

    .contributors {
        text-align:center;
        font-style:normal;
        color: $content-gray-dark;
    }
}

.abstract {
    @extend %section-base;
    @extend %heading-no-codenumber;
}

.preface {
    @extend %section-base;
    @extend %heading-no-codenumber;
}

.introduction {
    @extend %section-base;
    @extend %heading-no-codenumber;
}

.conclusion {
    @extend %section-base;
    @extend %heading-no-codenumber;
}

.acknowledgements {
    @extend %section-base;
    @extend %heading-no-codenumber;
}

.author-biographies {
    @extend %section-base;
    @extend %heading-no-codenumber;
}
