// We restrict gray variables to the content module
// The ui module should use variations of $ui-color-base
$content-gray-darker:   lighten(#000, 13.5%) !default; // #222
$content-gray-dark:     lighten(#000, 20%) !default;   // #333
$content-gray:          lighten(#000, 40%) !default; // #555
$content-gray-light:    lighten(#000, 60%) !default;   // #999
$content-gray-lighter:  lighten(#000, 83.5%) !default; // #eee
