
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


div.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    text-align: center;
}

.caption .counter:after { content: " ";}

/* above repeated for captions outside figures */

.caption .heading {
    font-weight: bold;
}

.caption .heading:after { content: " ";}

.caption .counter {
    font-weight: bold;
}

.unprocessed {
    padding: 8px;
    background-color: rgb(255,230,230)
}

.unprocessed .unprocessed {
    margin: 8px;
    background-color: rgb(255,200,255)
}

.unprocessed .unprocessed .unprocessed {
    margin: 8px;
    background-color: rgb(205,205,255)
}

.l {
    text-align: left;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}

.vv {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.vcv {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    text-align: center;
}

.vcvv {
    border-left: 2px solid #000000;
    border-right: 4px solid #000000;
    text-align: center;
}

.vlv {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    text-align: left;
}

.vrv {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    text-align: right;
}

.rv {
    border-right: 2px solid #000000;
    text-align: right;
}

.lv {
    border-right: 2px solid #000000;
    text-align: left;
}

.cv {
    border-right: 2px solid #000000;
    text-align: center;
}

.Xv {
    border-right: 2px solid #000000;
    text-align: left;
}
.vc {
    border-left: 2px solid #000000;
    text-align: center;
}

                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                    div.quote {
                                                                                                                                                                                                                                                                                                                                                                        padding-left: 40px;
                                                                                                                                                                                                                                                                                                                                                                        padding-right: 10px;
                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                    .bib {
                                                                                                                                                                                                                                                                                                                                                                        margin-bottom:10px;
                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                    .bibitem {
                                                                                                                                                                                                                                                                                                                                                                        display: inline;
                                                                                                                                                                                                                                                                                                                                                                        font-weight: bold;
                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                    .bibitem + .bibentry {
                                                                                                                                                                                                                                                                                                                                                                        display: inline;
                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                    .abstract h5:after {
                                                                                                                                                                                                                                                                                                                                                                        content: "";
                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                    .abstract + .preface {
                                                                                                                                                                                                                                                                                                                                                                        margin-top: 35px;
                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                    .abstract h5 {
                                                                                                                                                                                                                                                                                                                                                                        font-size: 20px;
                                                                                                                                                                                                                                                                                                                                                                    }

                                                                                                                                                                                                                                                                                                                                                                    .preface h5 {
                                                                                                                                                                                                                                                                                                                                                                        font-size: 20px;
                                                                                                                                                                                                                                                                                                                                                                    }

*[knowl] {
    border-bottom: 1px dotted #00a;
}

#navbar #toc h2 + h2 {
    margin-top: 5px;
}

.example-like, .exercise-like {
    margin: 1.42857em 0;
}

.example-like > .heading, .exercise-like > .heading, .remark-like > .heading, aside-like > .heading, .exercise-like > h5, .example-like > h5, .remark-like > h5, .aside-like > h5 {
    display: inline;
    font-weight: bold;
    font-size: 19px;
    font-size: 1.05em;
}

.example-like > h5 + p, .exercise-like > h5 + p, .remark-like > h5 + p, .aside-like > h5 + p {
    display: inline;
}

.exercise-like > h5:after, .example-like > h5:after, .remark-like > h5:after {
    content:". ";
}

.exercise-like > h5 .counter:before, .example-like > h5 .counter:before, .remark-like > h5 .counter:before {
    content:" ";
}

article.example-like > article.remark-like {
    margin-top: 10pt;
}

.minipage  + .minipage {
    display: inline-block;
}

#prevnext {
    right: 20px;
    margin-right: 1px;
    margin-top: -45px;
    margin-bottom: -10px;
    text-align: right;
    max-width: 960px;
}

/* 
 * The next section link at the footer of a section
 * TODO use link-directional mixin instead 
 */
.nextsection {
    text-align: center;
    padding: 10px;
    background-color: maroon;
    color: #FFEECC;
    font-size: 
}

section.chapter > h1 .type {

    font-size: 30px;
}

section.chapter > h1 .codenumber {

    font-size: 30px;
}

section.chapter > h1 .codenumber:after {
    /*
    content: ": ";
     */
}

section.chapter > h1 .title {

    font-size: 30px;
    margin-top:10px;
    /*
    display: inline;
     */
}

section.chapter > h2 {

    font-size: 24px;

}

// TODO should be safe to remove. Add margin after .chapter-toc if necessary
h2:last-child {
    /* for the chapter pages with section links at the bottom */
    margin-bottom: 100px;
}

// TODO remove, I assume this is a retired experiment
code.inline {
    background: none;
    border: none;
}

// TODO integrate this somehow!
/* sup knowls are used for footnotes */
sup [knowl] {
    padding: 0px 0px 0px 3px;
}

sup .active[knowl] {
    padding: 0px 0px 0px 3px;
}

sup [knowl]:hover {
    padding: 0px 0px 0px 3px;
}
