/*******************************************************************************
 * Environments
 ******************************************************************************/

.definition-like {
    @include heading {
        display:inline;
        //font-family:inherit;
        font-weight:bold;
        font-size: $font-size-h5;
        font-size: 1.05em;

        .type:after {
            content: " ";
        }

        /* TODO Do we still need this? */
        .acro:after {
            content: ": ";
        }

        &:after { 
            content: ". ";
        }

        // So that the header is inline with paragraph text 
        & + p {
            display:inline;
        }
    }

    margin:$line-height-em 0;
}

.theorem-like {
    @extend .definition-like;

    @include heading {
        .codenumber:after {
            content: ". ";
        }
    }

    /* TODO remove ol and ul when possible */
    p, ol, ul {
        font-style: italic;
    }

    .statement {
        p:first-child {
            display:inline;
        }

        &:last-child, &:last-of-type {
            margin-bottom:0;
        }
    }
}

.proof {
    @extend .definition-like;

    h1, h5 {
        font-weight:normal;
        font-style:italic;

        .type:after {
            content: ". ";
        }
    }

    &:after {
        content:"\220E";
        display:block;
        text-align:right;
    }
}
