& {
    background: $header-bg;
    min-height:inherit;
    border:none;
    @include box-shadow(none);
}

// Shouldn't be ids!
// bunch of silly overrides
#title {
    color: $header-title-color;
    font-size:$font-size-h1;
    margin-left:0;
    margin-bottom:.15em;
    min-height:inherit;
}

#subtitle {
    color: $header-subtitle-color;
    font-size: .6*$font-size-h1;
    font-weight:normal;
    margin:0;
    margin-bottom:1em;
    min-height:inherit;
}

#title-content {
    position:relative;
    bottom:auto;
    line-height:inherit;
}

#subtitle-content {
    position:relative;
    bottom:auto;
    line-height:inherit;
}
.banner {
    border-bottom:1px solid darken($header-bg, 15%);
    /* to ensure children's margin-top works */
    border-top:1px solid transparent;

    .container {
        padding:.01em $h-pad;
    }
}
