/**!
* The default styles for Mathbook-based textbooks.
*
* @author Michael DuBois (michael@michaeldubois.me)
*/

// Note: single line comments like this are not included in css output
//
// Naming Conventions
// ------------------
// Unfortunately, SASS uses the dash-separated scheme for variables.
// So variables should take the following form: $my-awesome-var
//
// The portions of a variable name should be ordered from general to specific.
// i.e. $color-button-primary not $primary-button-color
//
// Whenever possible, avoid variable names that describe their current value.
// i.e. use $color-button-primary instead of $color-button-red

// Real CSS imports first
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

// SASS imports w/o output
@import "variables";
@import "typography";
@import "numbering";
@import "compass/reset/utilities";
@import "heading";
@import "knowl";
@import "utilities";

// Perform standard reset
@include reset-html5();

// Global SASS imports w/ output
@import "mathjax";

/* Override default styling of address */
address {
    padding:0;
    margin:0;
    line-height: inherit;
    font-style: inherit;
}

html, body {
    margin:0;
    padding:0;
}

body {
    /* Override this in <style> tag if necessary */
    counter-reset:chapter;
    background:#ddd;
}

/* 
 * Containers restrict max-width of content within elements 
 * that may stretch to the width of the viewport. 
 *
 * We are not currently using them since the layout is left-aligned.
 */
.container {
    // For centered layout:
    //max-width:960px;
    //margin:0 auto;
}

.page {
    max-width:960px;

    // For centered layout:
    //margin:0 auto;
}

#masthead {
    @import "masthead";
}

/* The horizontal navbar */
#navbar {
    @import "navbar"
}


/**
 * highlighting menu entries (if their respective blueprint overwirtes 
 * the body_class variable!)
 */
body.mwf #sidebar a.mwf { background: #BFB; }
body.cmf #sidebar a.cmf { background: #BFB; }
body.local_fields #sidebar a.local_fields { background: #BFB; }

.main {
    // Not sure about this one...we'll see
    min-height:100%;

    display:block;
    width: auto;
    margin: 0 auto;
    padding:0;

    background:white;

    border:1px solid #ccc;
    /* transparent instead of none to fix margin-top box-model issue */
    border-top-color:transparent;
    border-bottom-color:transparent;
    //@include box-shadow(0 5px 5px rgba(0,0,0,.5));

    /* If has table of contents, adjust layout to accomodate*/
    .has-toc & {
        margin:0 auto;
        margin-left:$toc-width;

        @media only screen and (max-width: $screen-sm-min) {
            // default to toc collapsed on smaller screens
            margin-left:0;
        }
    }

    /* Root content wrapper (the page) */
    //& > .article,
    //& > .section,
    & > #content {
        margin:3em; /* these are the page margins */
    }
}

/* The homepage or "cover" of the mathbook */
.frontmatter {
    @include heading {
        text-align:center;
    }

    .contributors {
        text-align:center;
        font-style:normal;
        color:$gray-dark;
    }
}

/* Abstract for papers? */
.abstract {
    @include heading {
        &:after {
            content: ". ";
        }
    }
}

@import "chapter-index";

/***************************************************************************
 * Sectioning
 **************************************************************************/
/**
 * Section elements. These come in many different flavors.
 * Some styles are applied to all of them, and some to specific flavors.
 */
// NOTE: Be sure you understand the & selector in SASS.
section {

    /* Default heading style */
    @include heading {
        .type {
            &:after {
                content: " ";
            }
        }

        .codenumber {
            &:after {
                content: ": ";
            }
        }

        .title {}
    }

    /* Defaults for child "section"s  */
    &.chapter .section,
    &.chapter .preface, 
    &.chapter .introduction, 
    &.chapter .conclusion, 
    &.subsection, 
    &.subsubsection  {
        margin: #{2*$line-height-base}em 0;
    }

    /* A section representing a Chapter in the mathbook */
    &.chapter {

        /* Styles applied to both <header> format and non-<header> format */
        &, & > header {
            @include heading {

                $title-font-size: $font-size-h2;
                // calculate 1 standard line's height in terms of title's font-size
                $gap:em($line-height-computed, $title-font-size);
                $prefix-font-size: $font-size-h3;

                & {
                    /* 
                     * We use font-size-base to calculate proper line-heights 
                     * for vertical rythym
                     */
                    font-size: $font-size-base;
                    margin-bottom: em(2*$line-height-computed);
                }

                .title {
                    /* Chapter title goes on it's own line (as in LaTeX) */
                    display:block;
                    font-size: $title-font-size;
                    margin-top: $gap;
                }

                .codenumber, .type {
                    /* Chapter titles are smaller (as in LaTeX) */
                    font-size: $prefix-font-size;
                }

                .codenumber:after {
                        content: "";
                }
            }
        }

        /** 
         * Chapter heading in the <header> format
         * This format supports a byline for anthology textbooks 
         * and journals with different chapter authors.
         */
        header {

            & {
                margin-bottom: em(2*$line-height-computed);
            }

            @include heading {

                & {
                    margin-bottom: em($line-height-computed);
                }

                .title {
                    /* The margin goes on the header element instead */
                    margin-bottom:0;
                }

            }

            .byline {
                margin:0;
                color: $gray-light;
                &:before { content: "By "; }
            }
        }

        /* Sections inside of chapters */
        .section, .preface, .introduction, .conclusion {

            @include heading {
                font-size: $font-size-h3;
            }

            .subsection {
                @include heading {
                    font-size: $font-size-h4;
                }

                .subsubsection, .subsection {
                    @include heading {
                        font-size: $font-size-h5;
                    }
                }
            }
        }
    }

    /* Root-level "section"s */
    &.section, &.preface, &.introduction, &.conclusion {
        @include heading {
            font-size: $font-size-h2;
        }

        .subsection {
            @include heading {
                font-size: $font-size-h3;
            }

            .subsubsection, .subsection {
                @include heading {
                    font-size: $font-size-h4;
                }
            }
        }
    }

    /* Hide environment type on section headings */
    // TODO introduction/preface/conclusion too?
    &.section, &.subsection, &.subsubsection {
        @include heading {
            .type {
                display:none;
            }

            .codenumber:after {
                content: " ";
            }
        }
    }
}

// TODO this seems unnecessary/bad, test without
/*.subsection {*/
    /* to make more space above 
     * the next subsection, when a subsection
     * ends with a theorem
     */
    /*.theorem-like:last-child { margin-bottom: 30px }*/
/*}*/

/***************************************************************************
 * Typography!
 **************************************************************************/
@include typography();

/***************************************************************************
 * Knowls
 **************************************************************************/
@include knowl();

/* restyle knowls at first and third depth */
.knowl-output, .knowl-output  .knowl-output  .knowl-output {
    @include knowl-output();
    @import "exercises"; // TODO what's going on here ?
    @include exercise($knowl-border-color);
    @include exercisegroup($knowl-border-color, darken($knowl-border-color, 0%));
}

// TODO is this old?
.annotatedacronyms { margin: 15px 0 0 0; }

.diagram {text-align:center; margin-bottom:2em}

// TODO what's this?
.context {text-align:right}

// TODO what's this?
.attribution {
    text-align:right;
}

// TODO move to typography?
.terminology {
    font-style:italic;
    font-weight:bold;
}

.next-button {
    @include ui-button-directional($direction:right);
}

