/*******************************************************************************
 * Navbar 
 ******************************************************************************/

$navbar-border-width: 1px;

& { 
    background:$navbar-bg;
    border-bottom:$navbar-border-width solid darken($navbar-bg, 15%);
    z-index:200;
    height: 2.8em;
    font-family: $font-family-serif;

    /* Smoothly transition box-shadow when navbar sticks/unsticks */
    @include single-transition(box-shadow, 400ms);
}

/* Styles applied to make the navbar persistently visible */
.stuck & {
    position:fixed;
    top:0;
    right:0;
    left:0;
    @include box-shadow(
        $navbar-shadow-color 0 $navbar-shadow-offset $navbar-shadow-spread);
}

/* At small screen sizes, turn the navbar into a full bar along bottom */
@media screen and (max-width: $screen-sm-min) {
    &, .stuck & {
        position:fixed;
        top: auto;
        bottom:0;
        left:0;
        right:0;
        background:$navbar-bg;
        @include box-shadow(
            $navbar-shadow-color 0 -$navbar-shadow-offset $navbar-shadow-spread);
    }
}

.next-button, .previous-button {
    @media screen and (min-width: $screen-sm-min + 1) {
        /*On big screens, 
         * we use the prev/next inside the main container */
        display:none;
    }
}

/* An item/button in the horizontal navbar */
.navbar-item {
    $border-color: darken($navbar-bg, 15%);

    position:relative;
    color:$navbar-color;
    @include inline-block();

    border-right:1px solid $border-color;

    &:last-child {
        border-right:none;
    }

    &:first-child {
        border-right:1px solid $border-color;
    }

    .navbar-item-text {
        color:inherit;
        font-size:1em;
        margin:0;
        line-height:2.5;
        /*Padding here so that item width can be set explicitly*/
        padding:0 $h-pad;
    }

    &.active {
        @include box-shadow(inset 0 3px 8px rgba(black,.3));
    }
}

/* The table-of-contents button */
#toc-navbar-item {
    width:$sidebar-width;

    // TODO more button-y styles.
    .navbar-item-text {
        cursor:pointer;
        /* Disable text-selection on te button */
        @include user-select(none);
        &:before {
            opacity:.8;
        }
    }

    @media only screen and (max-width: $screen-sm-min) {
        width:auto;
        // TODO define tablet/phone appearance
    }
}

/* The table-of-contents sidebar itself */
#toc {
    @import "toc";

    @include toc-nav();

    & {
        position: absolute;
        margin-top:$navbar-border-width;
        top:100%;
        z-index: 100;
    }
}
