@import "compass/css3";
@import "triangle";
& {
    float: left;
    width:$toc-width;
    margin:0;
    font-size: 85%;
    color: #390;
    background: $gray-lighter;
    // Not sure about this one...we'll see
    overflow-y:auto;
    overflow-x:hidden;
}

// overrides. can be removed when old stylesheets are gone.
& { @include border-radius(0); }
ul:first-child a:first-child, 
h2:first-child a:first-child, 
h2:first-child {
    @include border-radius(0);
}
// end overrides


.list li {
  padding: 5px;
}
.list a {
  display: inline;
  padding: 1px;
}

h2 {
    display:block;
    font-family: sans-serif;
    font-size: 100%;

    margin: 0;

    &:first-child {
        margin-top:0;
    }

    /*Props shared by headings and heading-links*/
    &, a:link, a:visited {
        color: $toc-heading-color;
        background: $toc-heading-bg;
        padding: 5px 5px 5px $h-pad;
        border-bottom:2px solid darken($toc-heading-bg, 10%);
    }

    /*Prop resets for headings containing links*/
    &.link {
      padding: 0px;
      border-bottom:none;
    }

    a {
        &:hover {
            color: $toc-heading-color-hover;
            background: $toc-heading-bg-hover;
            border-color:darken($toc-link-bg-hover,10%);
        }
    }
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li {
        display: block;
        margin: 0px;
        padding: 0px;

        a {
            background: transparent ;
            padding:.4em;
            padding-left:($h-pad*2);
            border-bottom:1px solid darken($toc-bg, 12%);

            &:hover {
                border-color:darken($toc-link-bg-hover, 12%);
            }
        }

        &:last-child a {
            border-bottom: none;
        }
    }
}

a {
    & {
        display:block; 
        color: $toc-link-color;
        background: $toc-link-bg;
    }
    &:hover {
        color: $toc-link-color-hover;
        background: $toc-link-bg-hover;
    }

    &.active, &:active {
        position:relative;
        color:$toc-link-color-active;
        background: $toc-link-bg-active;
    }
}
