/*******************************************************************************
 * Navbar 
 ******************************************************************************/

$navbar-border-width: 1px;

& { 
    background:$navbar-bg;
    border-bottom:$navbar-border-width solid darken($toc-bg, 15%);
    z-index:100;
}

/* Styles applied when the scrolling script has loaded */
&.scrolling-nav-loaded {
}

/* Styles applied to make the navbar persistently visible */
&.scrolling-nav-persistent {
    position:fixed;
    top:0;
    left:0;
    right:0;
    @include box-shadow(rgba(0,0,0,.5) 0 2px 5px);
}

/* An item/button in the horizontal navbar */
.navbar-item {
    $border-color: darken($navbar-bg, 15%);

    position:relative;
    color:$navbar-color;
    @include inline-block();

    border-right:1px solid $border-color;

    &:last-child {
        border-right:none;
    }

    &:first-child {
        border-right:1px solid $border-color;
    }

    .navbar-item-text {
        color:inherit;
        font-size:1em;
        margin:0;
        line-height:2.5;
        /*Padding here so that item width can be set explicitly*/
        padding:0 $h-pad;
    }

    &.active {
        @include box-shadow(inset 0 3px 8px rgba(black,.3));
    }
}

/* The table-of-contents button */
#toc-navbar-item {
    width:$toc-width;

    .navbar-item-text:before {
        opacity:.8;
    }

    @media only screen and (max-width: $screen-sm-min) {
        width:auto;
        // TODO define tablet/phone appearance
    }
}

/* The table-of-contents sidebar itself */
#toc {
    @import "toc";

    & {
        position: absolute;
        margin-top:$navbar-border-width;
        top:100%;
        left:0;
    }

    @media only screen and (max-width: $screen-sm-min) {
        display:none;
    }
}
