@import "compass/css3";
@import "triangle";

@mixin toc-link() {
    &, &:link, &:visited, &:hover, &:active {
        display:block; 
        color: $toc-link-color;
        background: $toc-link-bg;
        text-decoration:none;
    }
    &:hover {
        color: $toc-link-color-hover;
        background: $toc-link-bg-hover;
    }

    &.active, &:active {
        position:relative;
        color:$toc-link-color-active;
        background: $toc-link-bg-active;
    }
}

@mixin toc-heading() {
    & {
        display:block;
        font-family: sans-serif;
        font-size: 100%;

        margin: 0;
    }

    &:first-child {
        margin-top:0;
    }

    a {
        @include toc-link();
    }

    /*Props shared by headings and heading-links*/
    &, a:link, a:visited {
        $bottom-border-width: 2px;
        $padding: 5px;

        color: $toc-heading-color;
        background: $toc-heading-bg;
        border-bottom:$bottom-border-width solid darken($toc-heading-bg, 10%);

        padding: $padding;
        padding-left: $h-pad; /* left-indent */

        /* Bias text baseline towards lower half to account for border-bottom */
        padding-top: $padding + $bottom-border-width;
        padding-bottom: $padding - $bottom-border-width;
    }

    /*Prop resets for headings containing links*/
    &.link {
      padding: 0px;
      border-bottom:none;
    }

    a:hover {
        color: $toc-heading-color-hover;
        background: $toc-heading-bg-hover;
        border-color:darken($toc-link-bg-hover,10%);
    }
}

@mixin toc-nav() {
    & {
        /*float: left;*/
        width:$sidebar-width;
        margin:0;
        font-size: 85%;
        color: #390;
        background: $toc-bg;
        // Not sure about this one...we'll see
        overflow-y:auto;
        overflow-x:hidden;
        /* Enable momentum scrolling on iOS */
        -webkit-overflow-scrolling: touch;
    }

    a {
        @include toc-link();
    }

    h2 {
        @include toc-heading();
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
            display: block;
            margin: 0px;
            padding: 0px;

            a {
                background: transparent ;
                padding:.4em;
                padding-left:($h-pad*2);
                border-bottom:1px solid rgba(black, .12);

                &:hover {
                    border-color:darken($toc-link-bg-hover, 12%);
                }
            }

            &:last-child a {
                border-bottom: none;
            }
        }
    }
}
