// Variables
// Initially based on bootstrap-sass variables:
// https://github.com/thomas-mcdonald/bootstrap-sass/blob/a8518604b982b581b1a6ca76f8e67e10ca68acca/vendor/assets/stylesheets/bootstrap/_variables.scss

// You'll find layout at the bottom since it depends on everything

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 83.5%) !default; // #eee

// Brand colors
// -------------------------

$brand-primary:         #292 !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-info:            #5bc0de !default;

// Links
// -------------------------

$link-color:               $brand-primary !default;
$link-hover-color:         darken($link-color, 15%) !default;
$link-tooltip-color:       $brand-info;
$link-tooltip-color-hover: darken($brand-info, 15%);

// Knowls
// -------------------------
$knowl-link-color: $brand-primary !default;
$knowl-link-color-hover: darken($brand-primary, 10%) !default; 

$knowl-border-width:10px !default;
$knowl-padding:10px !default;

$knowl-border-color: lighten($brand-primary, 32%) !default;
$knowl-border-color-bold: darken($knowl-border-color, 10%) !default;

$knowl-within-knowl-bg-color: white !default;
$knowl-bg-color: desaturate(lighten($knowl-border-color, 17%), 10%) !default;

// Typography
// -------------------------

//"Istok Web" ,
$font-family-sans-serif:   "Open Sans", "Helvetica Neue", 
                                Helvetica, Arial, sans-serif !default;
$font-family-serif:       "PT Serif", "Times New Roman", Times, serif !default;
$font-family-monospace:   "Source Code Pro", Consolas, Menlo, Monaco, 
                                Lucida Console, Liberation Mono, 
                                DejaVu Sans Mono, Bitstream Vera Sans Mono, 
                                Courier New, monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$font-size-h1:            floor($font-size-base * 2) !default;// ~32px 
$font-size-h2:            floor($font-size-base * 1.85) !default;  
$font-size-h3:            ceil($font-size-base * 1.5) !default; 
$font-size-h4:            ceil($font-size-base * 1.3)!default;
$font-size-h5:            ceil($font-size-base * 1.15) !default;
$font-size-h6:            $font-size-base !default; 
$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-em:          #{$line-height-base}em;

$headings-font-family:    $font-family-serif !default;
$headings-font-weight:    700 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$header-title-color: #444 !default;
$header-subtitle-color: #777 !default;
$header-bg: white !default;

// Code
// ------------------------
$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;

// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;

$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             4px !default;
$border-radius-large:            6px !default;
$border-radius-small:            3px !default;

$component-active-color:         #fff !default;
$component-active-bg:            $brand-primary !default;

$caret-width-base:               4px !default;
$caret-width-large:              5px !default;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-xs-min:              480px !default;

// Small screen / tablet
$screen-sm-min:              768px !default;

// Medium screen / desktop
$screen-md-min:              992px !default;

// Large screen / wide desktop
$screen-lg-min:              1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Layout
// ------------------------
$h-pad: $font-size-base;
$toc-width:256px;
