// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Brand colors
// -------------------------

$brand-primary:         #2655a4 !default;
$brand-primary-light:   lighten($brand-primary,20%);
$brand-primary-dark:    darken($brand-primary,20%);

$brand-secondary:        #45A861 !default;
$brand-secondary-light:       lighten($brand-secondary,20%);
$brand-secondary-dark:       darken($brand-secondary, 20%);

$brand-success:         #719900 !default;
$brand-warning:         #b58900 !default;
$brand-danger:          #d9534f !default;
$brand-info:            #2aa198 !default;


// Links
// -------------------------
$link-color:               $brand-primary !default;
$link-hover-color:         darken($link-color, 15%) !default;
$link-tooltip-color:       $brand-info;
$link-tooltip-color-hover: darken($brand-info, 15%);

// Knowls
// -------------------------
$knowl-link-color: saturate($brand-primary, 10%);
$knowl-link-color-hover: saturate(darken($brand-primary, 10%), 10%); 

$knowl-border-width:10px;
$knowl-padding:10px;

$knowl-border-color: desaturate(lighten($brand-primary, 32%), 10%);
$knowl-border-color-bold: darken($knowl-border-color, 10%);

$knowl-within-knowl-bg-color: white;
$knowl-bg-color: desaturate(lighten($knowl-border-color, 22%), 15%);

// Header
// -------------------------
$header-title-color: $brand-primary;
$header-subtitle-color: #777;
$header-bg: white ;

// Navbar
// -----------------------
$navbar-color: $gray-dark;
$navbar-bg: #eee;

// Table of Contents
// ------------------------
$toc-bg: $navbar-bg;

$toc-link-bg:transparent;
$toc-link-bg-hover:$link-color;
$toc-link-bg-active:$link-color;

$toc-link-color:$brand-primary;
$toc-link-color-hover:white;
$toc-link-color-active:white;

$toc-heading-bg: $brand-secondary; 
$toc-heading-bg-hover: $toc-link-bg-hover; 

$toc-heading-color: white;
$toc-heading-color-hover: $toc-link-color-hover ;

@import "mathbook";
