@import "../_content_config.scss";
@import "../../shared/_typography.scss";
@import "../../shared/_heading.scss";

$environment-heading-font-size: $typography-font-size-h5 !default;
$environment-heading-after: ". " !default;

// Defaults for environments
@mixin environment-base {
    @include heading-selector {
        @include heading-base($heading-after:$environment-heading-after);
        @include typography-heading-size($environment-heading-font-size);
    }

    // Default inline heading
    @include environment-heading-inline();

    // One line-height bottom margin
    @include margin-trailer;
}

// Force environment heading to be inline
@mixin environment-heading-inline {
    @include heading-selector {
        display:inline;

        & + p {
            display:inline;
        }
    }
}

// Force environment heading to be block
@mixin environment-heading-block {
    @include heading-selector {
        display:block;

        & + p {
            display:block;
        }
    }
}
