$heading-type-before:"" !default;
$heading-type-after:"" !default;
$heading-codenumber-before:" " !default;
$heading-codenumber-after:"" !default;
$heading-title-before:" " !default;
$heading-title-after:"";
$heading-before:"";
$heading-after:" ";



// Mixin for quickly and consistently outputting the heading selector
@mixin heading-selector() {
    & > .heading, & > header > .heading {
        @content;
    }
}

// A mixin that targets all heading formats.
// usage example: 
//    /* This example outputs headings like "Red Examples 2."*/
//    /* the heading has a red background to match the prefix */
//    @include heading($type-before:"Red ") { 
//        background:red;  
//    }
@mixin heading(
    $type-before: $heading-type-before,
    $type-after: $heading-type-after,
    $codenumber-before: $heading-codenumber-before,
    $codenumber-after: $heading-codenumber-after,
    $title-before:$heading-title-before,
    $title-after:$heading-title-after,
    $heading-before:$heading-before,
    $heading-after:$heading-after,
) {
    // These come first so that the user can override them
    @include heading-type($type-before, $type-after);
    @include heading-codenumber($codenumber-before, $codenumber-after);
    @include heading-title($title-before, $title-after);

    @include heading-selector() {

        & {
            font-weight:bold;
            font-style:normal;
        }

        &:before {
            content:$heading-before;
        }

        &:after {
            content:$heading-after;
        }

        // allow property inclusion. See usage comment. 
        @content;
    }

}

@mixin heading-type($before:$heading-type-before, $after: $heading-type-after) {
    @include heading-selector() {
        .type {
            &:before {
                content: $before;
            }
            &:after {
                content: $after;
            }

            @content;
        }
    }
}

@mixin heading-codenumber(
    $before: $heading-codenumber-before, 
    $after: $heading-codenumber-after
) {
    @include heading-selector() {
        .codenumber {
            &:before {
                content: $title;
            }
            &:after {
                content: $title;
            }

            @content;
        }
    }
}

@mixin heading-title(
    $before: $heading-title-before,
    $after: $heading-title-after
) {
    @include heading-selector() {
        .title {
            &:before {
                content: $before;
            }
            &:after {
                content: $after;
            }

            @content;
        }
    }
}

%heading-no-type {
    @include heading-no-type();
}

%heading-no-codenumber {
    @include heading-no-codenumber();
}

%heading-no-title {
    @include heading-no-title();
}

@mixin heading-no-type() {
    @include heading-type() {
        display:none;
    }
}

@mixin heading-no-codenumber() {
    @include heading-codenumber() {
        display:none;
    }
}

@mixin heading-no-title() {
    @include heading-title() {
        display:none;
    }
}
