@import "../_content_config.scss";
@import "../../shared/typography";
@import "../../shared/heading";
@import "../../shared/_knowl.scss";

// I've opted for zero-indexed since, unlike hX, sections wrap content
// the first section level is more of a root than h1
// Feel free to switch to one-indexed if it makes more sense to you

// The number of lines between sections
$section-margin-lines: 2.5 !default;

$section-heading-size-level-0: h2 !default;
$section-heading-size-level-1: h3 !default;
$section-heading-size-level-2: h4 !default;
$section-heading-size-level-3: h5 !default;

@mixin section-base() {
    @include heading-selector {

        // Include base styles for headings
        // See the mixin for available parameters
        @include heading-base;

        /* Support links in headings */
        a {
            @include heading-link();
        }

        /* Support knowl links in headings */
        *[knowl] {
            @include knowl-link($font-type: serif);
            margin-left:-3px;
        }
    }
    @include margin-trailer($section-margin-lines);
}

@mixin section-level($level) {

    $font-size: $section-heading-size-level-0;
    @if ($level == 1) {
        $font-size: $section-heading-size-level-1;
    } @else if($level == 2) {
        $font-size: $section-heading-size-level-2;
    } @else if($level == 3) {
        $font-size: $section-heading-size-level-3;
    }

    @include heading-selector {
        @include typography-heading-size($font-size);
    }
}
